.content {
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    margin: 20px;

    .header {
        font-size: 16px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.85);
        margin-bottom: 20px;
    }

    .authBar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background-color: #fafafa;
        color: #aaa
    }

    .anthStatus {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 500;

        .text {
            margin-left: 14px;
        }

        .icon {
            font-size: 25px !important;
        }
    }

    .isAuth {
        background: rgba(38, 126, 229, 0.1);
        color: #267EE5;

    }

    .node {
        width: 25%;
        padding-top: 30px;
        display: inline-block;

        .title {
            font-size: 14px;
            font-weight: 400;
            color: #293038;
        }

        .value {
            font-size: 16px;
            font-weight: 500;
            margin-top: 4px;
            color: #293038;
            height: 25px;
        }
    }
}